{% extends "base.html" %}
{% load static %}
{% block contant %}
    
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/bg-page-title-1.jpg);">
        <div class="auto-container">
            <h1>About Us</h1>
        </div>
    </section>
    
    
    <!--About Farm Section-->
    <section class="about-farm style-two">
        <div class="auto-container">
            <!--Section Title-->
            <div class="sec-title-one">
                <h2>Welcome to our healthy form</h2>
            </div>
                        
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-lg-5 col-md-4 col-sm-12 col-xs-12">
                    <figure class="image-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="{% static 'images/resource/food-image-1.png' %}" alt=""></figure>
                </div>
                <!--Column-->
                <div class="column col-lg-7 col-md-8 col-sm-12 col-xs-12">
                    <div class="tabs-box tabs-style-one">
                    	<div class="row clearfix">
                        	
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <!--Tab Buttons-->
                                <ul class="tab-buttons clearfix">
                                    <li class="tab-btn" data-tab="#tab-one"><span class="txt">2012</span></li>
                                    <li class="tab-btn active-btn" data-tab="#tab-two"><span class="txt">2014</span></li>
                                    <li class="tab-btn" data-tab="#tab-three"><span class="txt">2016</span></li>
                                </ul>
                            </div>
                            
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <!--Tabs Content-->
                                <div class="tabs-content">
                                    
                                    <!--Tab-->
                                    <div class="tab" id="tab-one">
                                    	<div class="subtitle">About Us</div>
                                    	<h3>Have look at out beautiful farm </h3>
                                        <div class="content">
                                        	<p>We started Warsaw Organic Store in order to source organic produce directly from local farms.  The year was 2012.  It was the best of times, it was the worst of times.</p>
                                            <p>Our Goal:  The goal was (and still is) to provide a service where local farms are given priority and members are able to access the freshest organic items available at a fair price.</p>
                                            <p>We’ve spent the past few years building a business and service that we love.  A service that makes the safest</p>
                                        </div>
                                        <h5 class="author-name">Muhibbur Rashid</h5>
                                    </div>
                                    
                                    <!--Tab / Active Tab-->
                                    <div class="tab active-tab" id="tab-two">
                                    	<div class="subtitle">Who We Are</div>
                                    	<h3>Have look at out beautiful farm </h3>
                                        <div class="content">
                                        	<p>We started Warsaw Organic Store in order to source organic produce directly from local farms.  The year was 2014.  It was the best of times, it was the worst of times.</p>
                                            <p>Our Goal:  The goal was (and still is) to provide a service where local farms are given priority and members are able to access the freshest organic items available at a fair price.</p>
                                            <p>We’ve spent the past few years building a business and service that we love.  A service that makes the safest</p>
                                        </div>
                                        <h5 class="author-name">Stevan Smith</h5>
                                    </div>
                                    
                                    <!--Tab-->
                                    <div class="tab" id="tab-three">
                                    	<div class="subtitle">Ho We Do</div>
                                    	<h3>Have look at out beautiful farm </h3>
                                        <div class="content">
                                        	<p>We started Warsaw Organic Store in order to source organic produce directly from local farms.  The year was 2016.  It was the best of times, it was the worst of times.</p>
                                            <p>Our Goal:  The goal was (and still is) to provide a service where local farms are given priority and members are able to access the freshest organic items available at a fair price.</p>
                                            <p>We’ve spent the past few years building a business and service that we love.  A service that makes the safest</p>
                                        </div>
                                        <h5 class="author-name">Tafseer Hussain</h5>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    
    <!--Fluid Section One-->
    <section class="fluid-section-one">
    	<div class="oval-cut"></div>
        
        <!--FLoated Image Left-->
        <figure class="floated-image-left wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="{% static 'images/resource/food-image-2.png' %}" alt=""></figure>
        <!--FLoated Image Right-->
        <figure class="floated-image-right wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="{% static 'images/resource/food-image-3.png' %}" alt=""></figure>
        
    	<div class="outer-box clearfix">
        	<!--Left Column-->
            <div class="left-column">
            	<div class="clearfix">
                    <div class="inner-box">
                    	<h3>Save up to 50 %</h3>
                        <h5>on your first purchase</h5>
                        <a href="shop-single.html" class="theme-btn btn-style-three">Shop Now</a>
                    </div>
                </div>
            </div>	
            
            <!--Right Column-->
            <div class="right-column">
            	<div class="clearfix">
                    <div class="inner-box">
                    	<h3>Free Shipping</h3>
                        <h5>On order over $99</h5>
                        <a href="shop-single.html" class="theme-btn btn-style-three">Track Now</a>
                    </div>
                </div>
            </div>	
            
        </div>
    </section>
    
    
    <!--Our Team-->
    <section class="team-section">
    	<div class="auto-container">
        	<!--Section Title-->
            <div class="sec-title-one">
                <h2>Our farmers</h2>
            </div>
            
        	<div class="row clearfix">
            	<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                	<!--Default Team Member-->
                    <div class="default-team-member">
                        <div class="inner-box clearfix">
                            <!--Image Column-->
                            <div class="image-column"><figure class="image"><a href="#"><img src="{% static 'images/resource/team-image-1.jpg' %}" alt=""></a></figure></div>
                            <!--Content Column-->
                            <div class="content-column">
                                <div class="inner">
                                    <h3>Peter Parker</h3>
                                    <div class="text">Meet the maker of our bread – our fabulous baker boy alberto Trombin. He creates superb bread in their Melbourne-based bread-quarters.</div>
                                    <div class="social-links">
                                        <a href="#"><span class="fa fa-facebook-official"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-instagram"></span></a>
                                        <a href="#"><span class="fa fa-skype"></span></a>
                                        <a href="#"><span class="fa fa-vimeo-square"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Team Member-->
                    <div class="default-team-member alternate">
                        <div class="inner-box clearfix">
                            <!--Image Column-->
                            <div class="image-column"><figure class="image"><a href="#"><img src="{% static 'images/resource/team-image-2.jpg' %}" alt=""></a></figure></div>
                            <!--Content Column-->
                            <div class="content-column">
                                <div class="inner">
                                    <h3>Darly Dixon</h3>
                                    <div class="text">Meet the maker of our bread – our fabulous baker boy alberto Trombin. He creates superb bread in their Melbourne-based bread-quarters.</div>
                                    <div class="social-links">
                                        <a href="#"><span class="fa fa-facebook-official"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-instagram"></span></a>
                                        <a href="#"><span class="fa fa-skype"></span></a>
                                        <a href="#"><span class="fa fa-vimeo-square"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                	<!--Default Team Member / Vertical-->
                    <div class="default-team-member vertical">
                        <div class="inner-box clearfix">
                            <!--Image Column-->
                            <div class="image-column"><figure class="image"><a href="#"><img src="{% static 'images/resource/team-image-3.jpg' %}" alt=""></a></figure></div>
                            <!--Content Column-->
                            <div class="content-column">
                                <div class="inner">
                                    <h3>Rick Grimes</h3>
                                    <div class="text">Meet the maker of our bread – our fabulous baker boy alberto Trombin. He creates superb bread in their Melbourne-based bread-quarters.</div>
                                    <div class="social-links">
                                        <a href="#"><span class="fa fa-facebook-official"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-instagram"></span></a>
                                        <a href="#"><span class="fa fa-skype"></span></a>
                                        <a href="#"><span class="fa fa-vimeo-square"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!--sponsors style one / Alternate-->
    <section class="sponsors-style-one alternate">
    	<div class="auto-container">
            
    		<div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/sponsors/1.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/sponsors/2.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/sponsors/3.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/sponsors/4.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/sponsors/5.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/sponsors/1.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/sponsors/2.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/sponsors/3.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/sponsors/4.png' %}" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/sponsors/5.png' %}" alt=""></a></figure></li>
                </ul>
            </div>
        </div>
    </section>
    
    
    <!--Call TO Action One-->
    <section class="call-to-action-one">
    	
        <!--Floted Image Left-->
        <figure class="floated-image-left wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="{% static 'images/resource/man-with-food-2.png' %}" alt=""></figure>
        
        <!--Floted Image Right-->
        <figure class="floated-image-right wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="{% static 'images/resource/food-image-12.png' %}" alt=""></figure>
        
    	<div class="auto-container">
        	<div class="content-box">
            	<div class="sub-title">HOTLINE</div>
                <div class="phone-number">(+01)- 123 789 456</div>
                <div class="text">Trains women to work in professional kitchens, provides healthy meals for childcare centers, and uses food ...</div>
            </div>
        </div>
    </section>
    
    
{% endblock contant %}