{% extends "base.html" %}
{% load static %}
{% block contant %}
    
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/bg-page-title-1.jpg);">
        <div class="auto-container">
            <h1>Blog Single</h1>
        </div>
    </section>
    
    
    <!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Side-->      
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    
                    <!--Blog Classic-->
                    <section class="blog-classic-view post-details">
                       
                        <!--News Style One-->
                        <div class="news-style-one">
                            <div class="inner-box">
                                <figure class="image-box"><a href="blog-single.html"><img src="{% static 'images/resource/blog-image-6.jpg' %}" alt=""></a></figure>
                                <div class="lower-content">
                                    <h3><a href="blog-single.html">Quick Dinners, Healthy Recipes, And More.</a></h3>
                                    <div class="post-content">
                                    	<div class="text">
                                            <p>Aenean sodales dictum auguein faucibus sollicitudin eunulla semper arcu vel diam auctor condimentums nam likes  tp molestie fermentum Well, first of all I've never been the farmer type. My father had a farm and he wanted me to work hard like him so one day he can leave the farm to me. </p>
                                            <blockquote>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat elites .</blockquote>
                                            <p>Nam efficitur turpis at nibh aliquet, sed viverra felis accumsan. Curabitur lacinia vitae nulla sit amet mollis. Suspendisse quis augue lorem. Mauris finibus sem nec venenatis sagittis. Pellentesque mattis pulvinar tellus a malesuada. Curabitur nec ex vitae nisl molestie euismod et vel justo. Aenean sed rhoncus tortor. Sed at sagittis elit, sed hendrerit ligula. Nunc porta, purus eget pretium varius, metus ipsum tincidunt ipsum, a aliquet quam felis quis diam. Sed gravida augue risus, at egestas leo gravida in.</p>
                                        </div>
                                        
                                        <div class="two-col-images">
                                        	<div class="row clearfix">
                                            	<!--Image Column-->
                                                <div class="image-column col-md-6 col-sm-6 col-xs-12"><figure><a href="{% static 'images/resource/blog-image-9.jpg' %}" class="lightbox-image" title="Image Captione Here" data-fancybox-group="fancybox"><img src="{% static 'images/resource/blog-image-9.jpg' %}" alt=""></a></figure></div>
                                                <!--Image Column-->
                                                <div class="image-column col-md-6 col-sm-6 col-xs-12"><figure><a href="{% static 'images/resource/blog-image-10.jpg' %}" class="lightbox-image" title="Image Captione Here" data-fancybox-group="fancybox"><img src="{% static 'images/resource/blog-image-10.jpg' %}" alt=""></a></figure></div>
                                            </div>
                                        </div>
                                        
                                        <h3>Fresh Farm Furits</h3>
                                        <p>Integer ac vulputate tellus. Aenean magna quam, elementum sit amet tristique eu, pretium a ex. Proin porta placerat odio, at viverra mauris maximus finibus. Donec pulvinar, mauris quis interdum tempor, nibh neque consectetur felis, et porttitor mi ex eu mauris. Aliquam lacinia orci urna, consequat luctus quam efficitureu. </p>
                                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam cursus nibh vitae lacus luctus, vitae dictum lectus faucibus. Quisque id venenatis nisi, vel dictum lorem.</p>
                                        
                                    </div>
                                </div>
                                <div class="post-info clearfix">
                                    <div class="post-tags"><span class="fa fa-tag"></span> &ensp; <a href="#">Fertiliser</a>, <a href="#">Organic Food</a>, <a href="#">Tips</a> </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Comments Area-->
                        <div class="comments-area">
                        	<div class="sidebar-title"><h3>Comments (02)</h3></div>
                            
                            <div class="comment-box">
                                
                                <div class="comment">
                                	<div class="comment-inner">
                                        <div class="author-thumb"><img src="{% static 'images/resource/author-thumb-2.jpg' %}" alt=""></div>
                                        <div class="comment-content">
                                            <div class="comment-header clearfix">
                                                <strong>Stevan Smith</strong> <span class="date">September  22, 2016</span>
                                            </div>
                                            <div class="text">Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam cursus nibh vitae lacus  vitae dictum lectus faucibus. Quisque id venenatis nisi, vel dictum lorem.</div>
                                            <div class="link-box"><a href="#" class="reply-btn">Reply </a></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="comment reply-comment">
                                	<div class="comment-inner">
                                        <div class="author-thumb"><img src="{% static 'images/resource/author-thumb-3.jpg' %}" alt=""></div>
                                        <div class="comment-content">
                                            <div class="comment-header clearfix">
                                                <strong>Ellena Gilbert</strong> <span class="date">September  22, 2016</span>
                                            </div>
                                            <div class="text">Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam cursus nibh vitae lacus  vitae dictum lectus faucibus.</div>
                                            <div class="link-box"><a href="#" class="reply-btn">Reply </a></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <!--Comment Form-->
                        <div class="comment-form default-form">
                            <div class="sidebar-title"><h3>Leave a Comment</h3></div>
                            <form method="post" action="http://world5.commonsupport.com/2017/warsaw/blog.html">
                                <div class="row clearfix">
                                	
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                        	<div class="field-label">Name</div>
                                            <input type="text" name="username" value="">
                                        </div>
            
                                        <div class="form-group">
                                        	<div class="field-label">Email</div>
                                            <input type="email" name="email" value="" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                        	<div class="field-label">Comments</div>
                                            <textarea name="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    	<div class="form-group">
                                            <button type="submit" class="theme-btn btn-style-two">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </section>
                
                </div><!--End Content Side-->   
                
                <!--Sidebar-->      
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <aside class="sidebar">
                        
                        <!-- Search Form -->
                        <div class="widget search-box sidebar-widget">
                            
                            <form method="post" action="http://world5.commonsupport.com/2017/warsaw/blog.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search Now">
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                            
                        </div>
                        
                        <!-- Popular Categories -->
                        <div class="widget popular-categories sidebar-widget">
                            <div class="sidebar-title"><h3>Categories</h3></div>
                            
                            <ul class="list">
                                <li><a href="#">Autumn (1)</a></li>
                                <li><a href="#">Fruits (2)</a></li>
                                <li class="current"><a href="#">Organic Foods (2)</a></li>
                                <li><a href="#">Vegetables (4)</a></li>
                                <li><a href="#">Spring (2)</a></li>
                            </ul>
                            
                        </div>
                        
                        <!-- Recent Posts -->
                        <div class="widget recent-posts sidebar-widget">
                            <div class="sidebar-title"><h3>Latest News</h3></div>
                            
                            <div class="post">
                                <figure class="post-thumb"><img src="{% static 'images/resource/post-thumb-1.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure>
                                <div class="desc-text"><a href="#">It is a long established the fresh fruits fact</a></div>
                                <div class="time">September 22, 2016</div>
                            </div>
                            
                            <div class="post">
                                <figure class="post-thumb"><img src="{% static 'images/resource/post-thumb-2.jpg' %}" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure>
                                <div class="desc-text"><a href="#">12 plants that repel un wanted insects</a></div>
                                <div class="time">Augest 29, 2016</div>
                            </div>
                            
                        </div>
                        
                        <!-- Archives -->
                        <div class="widget archives-list sidebar-widget">
                            <div class="sidebar-title"><h3>Archives</h3></div>
                            
                            <ul class="list">
                                <li><a href="#">August 2016</a></li>
                                <li><a href="#">July 2016</a></li>
                                <li><a href="#">June 2016</a></li>
                                <li><a href="#">May 2016</a></li>
                                <li><a href="#">Apirl 2016</a></li>
                            </ul>
                            
                        </div>
                        
                        <!-- Popular Tags -->
                        <div class="widget sidebar-widget popular-tags">
                            <div class="sidebar-title"><h3>Tags</h3></div>
                            
                            <a href="#">Family</a>
                            <a href="#">Farming</a>
                            <a href="#">Clean &amp; Clear</a>
                            <a href="#">Fruits</a>
                            <a href="#">Fresh</a>
                            <a href="#">Vegetables</a>
                            <a href="#">Nutrition</a>
                            <a href="#">Health</a>
                            <a href="#">Life</a>
                            
                        </div>
                        
                    </aside>
                </div><!--End Sidebar-->      
                
            </div>
        </div>
    </div>
    
    
{% endblock contant %}