{% extends "base.html" %}
{% load static %}
{% block contant %}


<!--Page Title-->
<section class="page-title" style="background-image:url(static/images/background/bg-page-title-1.jpg);">
    <div class="auto-container">
        <h1>Checkout</h1>
    </div>
</section>


<!--Checkout Page-->
<div class="checkout-page">
    <div class="auto-container">

        <div class="row clearfix">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <!--Default Links-->
                <ul class="default-links">
                    <li>Exisitng Customer? <a href="#">Click here to login</a></li>
                </ul>

                <!--Billing Details-->
                <div class="billing-details">
                    <div class="shop-form">
                        <form method="POST" >
                            {% csrf_token %}
                            

                            <div class="row clearfix">
                                <div class="default-title">
                                    <h2>Billing Details</h2>
                                </div>
                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.billing_address_line_1}}
                                </div>

                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.billing_address_line_2}}
                                </div>

                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.billing_zip_code}}
                                </div>

                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.billing_city}}
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    
                                </div>

                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.billing_mobile_number}}
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="default-title">
                                    <h2>Shipping Details</h2>
                                </div>
                                
                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.shipping_address_line_1}}
                                </div>
                            
                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.shipping_address_line_2}}
                                </div>
                            
                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.shipping_zip_code}}
                                </div>
                            
                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.shipping_city}}
                                </div>
                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                   
                                </div>
                                <!--Form Group-->
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.shipping_mobile_number}}
                                </div>

                               
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.selected_billing_address}}
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    {{form.selected_shipping_address}}
                                </div>

                            <button type="submit" class="theme-btn btn-style-two">Place Order</button>
                            </div>
                        </form>

                    </div>

                </div>
                <!--End Billing Details-->
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <!--Your Order-->
                <div class="your-order">
                    <div class="default-title">
                        <h2>Your Order</h2>
                    </div>
                    <!--Orders Table-->
                    <ul class="orders-table">
                        <li class="table-header clearfix">
                            <div class="col">Product</div>
                            <div class="col">Total</div>
                        </li>
                        
                        {% for o in order.items.all %}
                        <li class="clearfix">
                            <div class="col">{{o.item.title}} x {{o.quantity}}</div>
                            <div class="col">$ {{o.get_cart_raw_total}}</div>
                        </li>
                        {% endfor %}
                        <li class="clearfix">
                            <div class="col">Subtotals</div>
                            <div class="col">${{order.grand_total}}</div>
                        </li>
                        <li class="clearfix">
                            <div class="col">Shipping </div>
                            <div class="col">Free Shipping </div>
                        </li>
                        <li class="total clearfix">
                            <div class="col">Total </div>
                            <div class="col">${{order.grand_total}}</div>
                        </li>
                    </ul>

                </div>
                <!--End Your Order-->


                <!--Place Order-->
                <div class="place-order">
                    <div class="default-title">
                        <h2>Payment Method</h2>
                    </div>

                    <!--Payment Options-->
                    <div class="payment-options">
                        <ul>
                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-1" checked>
                                    <label for="payment-1"><strong>Cheque Payment</strong><span class="small-text">Make
                                            your payment directly into our bank account. Please use your Order ID as the
                                            payment reference. Your order won’t be shipped until the funds have cleared
                                            in our account.</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-2">
                                    <label for="payment-2"><strong>Direct Bank Transfer</strong><span
                                            class="small-text">Please send your cheque to Store Name, Store Street,
                                            Store Town, Store State / County, Store Postcode.</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-3">
                                    <label for="payment-3"><strong>Paypal</strong> <img
                                            src="images/icons/credit-card-icon.png" alt=""></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    

                </div>
                <!--End Place Order-->
            </div>

        </div>

    </div>
</div>

{% endblock contant %}