{% extends "base.html" %}
{% load static %}
{% block contant %}
{% load socialaccount %}
{% providers_media_js %}
<div>
  <!-- component -->
<!-- Icons font CSS-->
<link href="{% static 'account/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'account/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
  rel="stylesheet">

<!-- Vendor CSS-->
<link href="{% static 'account/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'account/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="{% static 'account/css/main.css' %}" rel="stylesheet" media="all">
</div>
<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
  <div class="wrapper wrapper--w960">
    <div class="card card-2">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Login</h2>
        <form  action="{% url 'login' %}" method="POST" >
          {% csrf_token %}
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" required>
            <i class="flaticon-mail"></i>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <div class="clearfix"></div>
          <ul class="social-list">
            <li><a href="{% provider_login_url 'facebook' method='oauth2' %}" class="facebook-bg" style="background-color: #0C86EF;color: white;"><i
                  class="fa fa-facebook facebook-i"></i><span>Facebook</span></a></li>
          </ul> 
          <ul>
            <li><a href="{% provider_login_url 'google' %}" class="google-bg" style="color: red;"><i class="fa fa-google google"></i><span>Google+</span></a></li>
          </ul>    
        </form>
      </div>
    </div>
  </div>
</div>
<div>
  <!-- Jquery JS-->
  <script src="{% static 'account/vendor/jquery/jquery.min.js' %}"></script>
  <!-- Vendor JS-->
  <script src="{% static 'account/vendor/select2/select2.min.js' %}"></script>
  <script src="{% static 'account/vendor/datepicker/moment.min.js' %}"></script>
  <script src="{% static 'account/vendor/datepicker/daterangepicker.js' %}"></script>
  
  <!-- Main JS-->
  <script src="{% static 'account/js/global.js' %}"></script>
</div>
{% endblock contant %}