<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is mail template</title>
    <meta name="viewport" content="width-device-width,initial-scale=1"> 
    </head>
    
    <body>
        <p> Hello {{data.name}},</p>
        <p> Your Password for registratin is : {{data.Password}}</p>
        <p> Please click here to verify : </p>
        <!-- <a href="{{data.link}}"> verification link </a> -->
    </body>
    
    </html>