{% extends "base.html" %}
{% load static %}
{% block contant %}
<div>
  <!-- component -->
<!-- Icons font CSS-->
<link href="{% static 'account/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'account/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
  rel="stylesheet">

<!-- Vendor CSS-->
<link href="{% static 'account/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'account/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="{% static 'account/css/main.css' %}" rel="stylesheet" media="all">
</div>
<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
  <div class="wrapper wrapper--w960">
    <div class="card card-2">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Register</h2>
        <form action="{% url 'register' %}" method="POST" >
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Email</label>
              <input type="email" class="form-control" name="email" placeholder="Email id" required>
            </div>
            <!-- <div class="form-group col-md-6">
              <label>Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <div class="form-group col-md-6">
              <label>Confirm Password</label>
              <input type="password" class="form-control" name="confrim_password" placeholder="Confirm Password" required>
            </div> -->
            <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstname" placeholder="First Name" required>
          </div>
          <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Last Name" required>
          </div>
          <div class="form-group col-md-6">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" required>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div>
  <!-- Jquery JS-->
  <script src="{% static 'account/vendor/jquery/jquery.min.js' %}"></script>
  <!-- Vendor JS-->
  <script src="{% static 'account/vendor/select2/select2.min.js' %}"></script>
  <script src="{% static 'account/vendor/datepicker/moment.min.js' %}"></script>
  <script src="{% static 'account/vendor/datepicker/daterangepicker.js' %}"></script>
  
  <!-- Main JS-->
  <script src="{% static 'account/js/global.js' %}"></script>
</div>
{% endblock contant %}