{% extends "base.html" %}
{% load static %}
{% block contant %}
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/bg-page-title-1.jpg);">
        <div class="auto-container">
            <h1>Shop</h1>
        </div>
    </section>
    
    
    <!--Shop Section-->
    <section class="shop-section">
    	<div class="auto-container">
            
            <!--Sort By-->
            <div class="items-sorting">
                <div class="row clearfix">
                    <div class="results-column col-md-9 col-sm-12 col-xs-12">
                        <div class="text">Showing 1 - 12  of  30 Result</div>
                    </div>
                    <div class="select-column col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <select name="sort-by">
                                <option>Default Sorting</option>
                                <option>Ascending Order</option>
                                <option>Descending Order</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
            	<!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-1.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Passion Fruits</a></h3>
                            <div class="price"><span class="price-txt">$ 25.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-1.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-2.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Kiwi Fruits</a></h3>
                            <div class="price"><span class="price-txt">$ 22.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-2.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-3.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Orange Fruits</a></h3>
                            <div class="price"><span class="price-txt">$ 18.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-3.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-4.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Pepper</a></h3>
                            <div class="price"><span class="price-txt">$ 14.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-4.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-5.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Tomatoes</a></h3>
                            <div class="price"><span class="price-txt">$ 30.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-5.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-6.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Ripe Pea</a></h3>
                            <div class="price"><span class="price-txt">$ 13.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-6.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-7.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Figs Sweet</a></h3>
                            <div class="price"><span class="price-txt">$ 32.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-7.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-8.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Carrot Fruits</a></h3>
                            <div class="price"><span class="price-txt">$ 22.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-8.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-9.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Green Olives</a></h3>
                            <div class="price"><span class="price-txt">$ 40.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-9.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-10.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Carambola Fruits</a></h3>
                            <div class="price"><span class="price-txt">$ 24.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-10.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-11.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Dragon Fruits</a></h3>
                            <div class="price"><span class="price-txt">$ 50.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-11.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Default Shop Item-->
                <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image-box">
                        	<figure class="image"><a href="shop-single.html"><img src="{% static 'images/resource/products/image-12.jpg' %}" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="shop-single.html">Broccoli</a></h3>
                            <div class="price"><span class="price-txt">$ 16.00</span></div>
                        </div>
                        
                        <!--Overlay Box-->
                        <div class="overlay-box">
                        	<div class="prod-options">
                            	<a class="lightbox-image option-btn" href="{% static 'images/resource/products/image-12.jpg' %}" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-eye"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-heart-o"></span></a>
                                <a class="option-btn" href="shop-single.html"><span class="fa fa-retweet"></span></a>
                                <a href="shop-single.html" class="theme-btn add-cart-btn">ADD TO CART <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
            <!-- Styled Pagination -->
            <div class="styled-pagination text-center">
                <ul>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a class="next" href="#">Next</a></li>
                </ul>
            </div>
                    
        </div>
    </section>
{% endblock contant %}